
.page {
  background: #e5e5e5;
  padding: 30px 0 40px;
  margin-top: -40px;
}
.btn-primary {
  color: #ffffff;
  background: #00b6c0;
  border-radius: 6px;
  border: none;
  margin-top: 30px;
  font-weight: 500;
  padding: 10px 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-primary:hover {
  background-color: rgba(0, 182, 192, 0.7);
}
.page__inner {
  max-width: 450px;
}
.warning {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #e97f5d;
  max-width: 307px;
}
.page__title {
  margin: 24px 0;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  color: #222222;
}
.page__item {
  margin-bottom: 24px;
}
.page__item-title {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.page__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page__item-suptitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
  color: #6b7683;
}
.page__title-3 {
  margin-bottom: 35px;
  margin-top: 57px;
}
.page__btn {
  margin-top: 0;
  height: 44px;
}
.container {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  padding: 0 15px;
}
.prevention {
  background: #ff7878;
  box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 16px 42px;
  color: #fff;
  max-width: 780px;
  font-weight: 500;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
}
.page__item-doc{
  display: flex;
  align-items: center;
  padding: 10px 12px 10px 40px;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  display: inline-block;
}
.page__item-doc::before{
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 12px;
  top: 7px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/doc.svg);
}
.page__item-doc-size{
  color: #6B7683;
  margin-left: 3px;
}

@media (max-width: 560px) {
  .prevention {
    padding: 10px 20px;
    font-size: 12px;
  }
  h1{
    font-size: 26px;
  }
  .form__line-wrapper{
    flex-direction: column;
  }
  .form__line-wrapper .form__line-file{
    margin-right: 0;
    margin-bottom: 15px;
    max-width: 100%;
  }
  .form__select{
    max-width: 100% !important;
  }
  .form__line-checkbox{
    font-size: 12px;
    line-height: 20px;
  }
}
@media (max-width: 410px) {
  .page__line{
    display: block;
  }
  .page__item-title{
    font-size: 14px;
  }
  .page__item-suptitle{
    font-size: 12px;
  }
  .warning{
    font-size: 14px;
  }
}