.form {
  background-color: #e5e5e5;
  margin-top: -40px;
  padding: 80px 40px 34px;
  min-height: 100vh;
  font-size: 16px;
  border-left: 8px solid #00b6c0;
  border-right: 8px solid #00b6c0;
}
.form__inner {
  max-width: 378px;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
  color: #6b7683;
}
.form__logo {
  margin-bottom: 54px;
  text-align: center;
}
.form__line--pass::before {
  content: "";
  position: absolute;
  background-image: url(../images/i-1.svg);
  bottom: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.form__line {
  position: relative;
}
.form__line + .form__line {
  margin-top: 24px;
}
.form__line-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: block;
  color: #6b7683;
  margin-bottom: 8px;
}
.form__line-input {
  padding: 8px 12px;
  background: #ffffff;
  border-radius: 6px;
  width: 100%;
  min-height: 44px;
  border: 1px solid #afafaf;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  font-weight: 500;
  color: #222222;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.form__line-input::-webkit-input-placeholder {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  line-height: 19px;
  color: #6b7683;
}
.form__line-input::-moz-placeholder {
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  line-height: 19px;
  color: #6b7683;
}
.form__line-input:-ms-input-placeholder {
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  line-height: 19px;
  color: #6b7683;
}
.form__line-input::-ms-input-placeholder {
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  line-height: 19px;
  color: #6b7683;
}
.form__line-input::placeholder {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  line-height: 19px;
  color: #6b7683;
}
.form__line-input:focus {
  border-color: #00b6c0;
}

.form__line-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 34px;
  font-size: 16px;
}
.form__link {
  text-decoration: none;
  color: #00b6c0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form__link:hover {
  color: rgba(0, 182, 192, 0.6);
}
.form__btn {
  width: 100%;
  min-height: 44px;
  border: none;
  background-color: #00b6c0;
  color: #fff;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form__btn:hover {
  background-color: rgba(0, 182, 192, 0.7);
}
.form__text {
  text-align: center;
  margin-top: 16px;
}
.form__bottom {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 500;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.form__bottom a {
  text-decoration: none;
  font-size: 14px;
  color: #00b6c0;
}
.form__bottom-item {
  margin-right: 10px;
  display: inline-block;
  position: relative;
}
.form__bottom-item a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form__bottom-item a:hover {
  color: rgba(0, 182, 192, 0.6);
}
.form__bottom-item + .form__bottom-item {
  padding-left: 11px;
}
.form__bottom-item + .form__bottom-item::before {
  content: "|";
  position: absolute;
  left: 0;
  color: #6b7683;
}
.form__bottom-logo {
  position: relative;
}
.form__bottom-logo span {
  position: absolute;
  color: #6b7683;
  top: -6px;
  left: 25px;
  font-size: 12px;
}
.form__line-checkbox {
  cursor: pointer;
  position: relative;
}
.form__line-checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form__line-checkbox input:checked + label::before {
  background-color: #00b6c0;
}
.form__line-checkbox input:checked + label::after {
  opacity: 1;
}
.form__line-checkbox label {
  padding-left: 22px;
  cursor: pointer;
}
.form__line-checkbox label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  display: block;
  background: #ffffff;
  border: 1px solid #afafaf;
  border-radius: 2px;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
}
.form__line-checkbox label::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/check.svg) no-repeat;
  background-size: 17px 17px;
  top: 0px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  left: 0;
  z-index: 2;
  position: absolute;
}
.form__line-text {
  font-size: 14px;
  line-height: 18px;
  color: #6b7683;
  font-weight: 400;
}
.form__line-textarea {
  resize: none;
  height: 82px;
}
.p-i-form {
  max-width: 524px;
  width: 100%;
}
.form__line-select {
  padding: 8px 12px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 6px;
  width: 100%;
  min-height: 44px;
  border: 1px solid #afafaf;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  font-weight: 500;
  appearance: none;
  color: #6b7683;
}
.form__select::before {
  position: absolute;
  content: "";
  bottom: 18px;
  right: 14px;
  width: 12px;
  height: 8px;
  background-image: url(../images/arrow-down.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.form__select {
  position: relative;
}
.form__line-prompt {
  position: relative;
  padding-right: 23px;
  display: inline-block;
}
.prompt {
  position: absolute;
  top: -1px;
  right: 0;
  width: 16px;
  height: 15px;
  border-radius: 50%;
  background-color: #00b6c0;
  color: #fff;
  text-align: center;
  padding-top: 2px;
}
.form__line-file {
  width: 100%;
  max-width: 300px;
  border-radius: 6px;
  padding: 8px 10px;
  border: 1px dashed #afafaf;
  color: #6b7683;
  line-height: 19px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
  position: relative;
}
.form__line-fileText {
  position: relative;
  padding-left: 30px;
}
.form__line-fileText::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/cloud.svg);
}
.form__line-wrapper {
  display: flex;
}
.form__line-wrapper .form__select {
  max-width: 208px;
  width: 100%;
}
.form__line-copy {
  color: #222222;
  font-weight: 500;
  margin-top: 35px;
}
.o-i-form {
  max-width: 411px;
  width: 100%;
  text-align: center;
}
.org-info__btn {
  width: 100%;
  background: #ffffff;
  border-radius: 6px;
  min-height: 56px;
  cursor: pointer;
  border: none;
  color: #00b6c0;
  font-weight: 500;
  transition: all 0.3s;
}
.org-info__btn:hover {
  background-color: rgb(228, 228, 228);
}
.org-info__btn + .org-info__btn {
  margin-top: 16px;
}
.org-info__text {
  font-size: 14px;
  line-height: 22px;
  color: #6b7683;
}
.form__line-files{
  margin-top: 88px;
}
.form__line-files .form__line-file{
  max-width: 100%;
  height: 44px;
}
.form__line-textP{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #6B7683;
}
.h56{
  height: 56px;
  margin-top: 20px;
  margin-bottom: 62px;
}