.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.modal-bg {
  position: absolute;
  background: rgba(107, 118, 131, 0.75);
  width: 100%;
  height: 100%;
}
.modal-container {
  border-radius: 10px;
  background: #fff;
  position: relative;
  padding: 34px 48px;
  max-width: 782px;
  width: 100%;
}
.modal-close {
  position: absolute;
  right: 30px;
  top: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.modal-close:hover {
  opacity: 0.5;
}
.slot {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  height: 36px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0)),
    to(#fff)
  );
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
.modal__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  margin-bottom: 30px;
  margin-top: 0;
  color: #222222;
}
.modal__text {
  max-height: 360px;
  font-size: 16px;
  position: relative;
  line-height: 24px;
  color: #222222;
  overflow-y: scroll;
}
.modal__text::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
.modal__text::-webkit-scrollbar-thumb {
  background: rgba(107, 118, 131, 0.5);
  border-radius: 10px;
  z-index: 999;
}
.modal__text::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 118, 131, 0.8);
}
.btn-primary {
  color: #ffffff;
  font-weight: 500;
  background: #00b6c0;
  border-radius: 6px;
  border: none;
  margin-top: 30px;
  padding: 10px 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-primary:hover {
  background-color: rgba(0, 182, 192, 0.7);
}
.btn {
  border: none;
  background: none;
  margin-left: 25px;
  color: #00b6c0;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover {
  opacity: 0.7;
}

@media (max-width: 600px) {
  .modal-container {
    padding: 15px 20px;
  }
  .modal__title{
    font-size: 25px;
    margin-bottom: 15px;
  }
  .slot{
    bottom: 85px;
  }
  .modal__text{
    font-size: 14px;
  }
  .btn-primary {
    padding: 7px 10px;
    font-size: 14px;
}
}
