@import 'normalize.css';
@import 'base.css';
@import 'header.css';
@import 'modal.css';
@import 'form.css';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap';

body {
    background: hsla(0, 0%, 95%, 1);
    display: grid;
    gap: 2em;
    font-family: Roboto;
}

main {
    padding: 2em;
}

h1, h2, h3 {
    font-family: Rajdhani;
}

