<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" href="css/normalize.css">
</head>

<body>

  <header class="header">
    <div class="container">
      <div class="header__inner">
        <a href="#" class="header__logo">
          <img src="images/header-logo.svg" alt="logo">
        </a>
        <div class="header__content">
          <nav class="header__menu">
            <ul class="header__menu-list">
              <li class="header__menu-item active">
                <a class="header__menu-link" href="#">Accounts</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">Projects</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">Billing</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">Manage organisation</a>
              </li>
            </ul>
            <div class="header__menu-btn">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </nav>
          <div class="header__select-wrapper">
            <select class="header__select">
              <option>Oiltanking GmbH</option>
              <option>Oiltanking GmbH</option>
              <option>Oiltanking GmbH</option>
              <option>Oiltanking GmbH</option>
            </select>
          </div>
          <div class="header__items">
            <a href="#" class="header__item notification">
              <img src="images/header__item-1.svg" alt="img">
            </a>
            <a href="#" class="header__item">
              <img src="images/header__item-2.svg" alt="img">
            </a>
            <a href="#" class="header__item">
              <img src="images/header__item-3.svg" alt="img">
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>



  <script src="js/main.js"></script>
</body>

</html>