<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap" rel="stylesheet">
  <title>Document</title>
  <link rel="stylesheet" href="../global-styles.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  <header class="header">
    <div class="container">
      <div class="header__inner">
        <a href="#" class="header__logo">
          <img src="images/logo.svg" alt="logo">
        </a>
        <div class="header__content">
          <nav class="header__menu">
            <ul class="header__menu-list">
              <li class="header__menu-item active">
                <a class="header__menu-link" href="#">Accounts</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">Projects</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">Billing</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">Manage organisation</a>
              </li>
            </ul>
            <div class="header__menu-btn">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </nav>
          <div class="header__select-wrapper">
            <select class="header__select">
              <option>Oiltanking GmbH</option>
              <option>Oiltanking GmbH</option>
              <option>Oiltanking GmbH</option>
              <option>Oiltanking GmbH</option>
            </select>
          </div>
          <div class="header__items">
            <a href="#" class="header__item notification" data-modal="headerModal-2">
              <img src="images/header__item-1.svg" alt="img">
            </a>
            <a href="#" class="header__item">
              <img src="images/header__item-2.svg" alt="img">
            </a>
            <a href="#" class="header__item">
              <img src="images/header__item-3.svg" alt="img">
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="headerModal" id="headerModal-2">
    <div class="headerModal-bg modal-exit"></div>
    <div class="headerModal-container">
      <div class="notification__title">Notifications</div>
      <div class="notification__items">
        <div class="notification__item">
          <div class="notification__item-top">
            <div class="notification__item-title">Incoming transfer</div>
            <div class="notification__item-date"> 1 minute ago</div>
          </div>
          <div class="notification__item-content">
            <div class="notification__item-text">
              <div class="notification__text">From # 4230 1810 3040 4537 </div>
              <div class="notification__text">To Current Account <span># •••• 3657</span></div>
            </div>
            <div class="notification__item-money">
              2,000,000
            </div>
          </div>
          <div class="notification__item-bottom">
            <div class="notification__item-set">
              <div class="notification__item-date">
                1234:20130–22130
              </div>  
            </div>
            <div class="notification__item-btns">
              <button class="notification__item-btn danger__btn">Decline</button>
              <button class="notification__item-btn primary__btn">Accept</button>
            </div>
          </div>
        </div>
        <div class="notification__item">
          <div class="notification__item-top">
            <div class="notification__item-title">Incoming project</div>
            <div class="notification__item-date"> 1 minute ago</div>
          </div>
          <div class="notification__item-content">
            <div class="notification__item-text">
              <div class="notification__text">From # 4230 1810 3040 4537 </div>
              <div class="notification__text">To Current Account <span># •••• 3657</span></div>
            </div>
          </div>
          <div class="notification__item-bottom">
            <div class="notification__item-set">
              <div class="notification__item-title">Copiulemu landfill gas project …</div>
              <div class="notification__item-date">
                #1234
              </div>  
            </div>
            <div class="notification__item-btns">
              <button class="notification__item-btn danger__btn">Decline</button>
              <button class="notification__item-btn primary__btn">Accept</button>
            </div>
          </div>
        </div>
        <div class="notification__item">
          <div class="notification__item-top">
            <div class="notification__item-title">Incoming transfer</div>
            <div class="notification__item-date"> 1 minute ago</div>
          </div>
          <div class="notification__item-content">
            <div class="notification__item-text">
              <div class="notification__text">From # 4230 1810 3040 4537 </div>
              <div class="notification__text">To Current Account <span># •••• 3657</span></div>
            </div>

          </div>
          <div class="notification__item-bottom">
            <div class="notification__item-set">
              <div class="notification__item-money">
                2,000,000,000,000
              </div>
              <div class="notification__item-date">
                1234:20130–22130, 222–333
              </div>  
            </div>
            <div class="notification__item-btns">
              <button class="notification__item-btn danger__btn">Decline</button>
              <button class="notification__item-btn primary__btn">Accept</button>
            </div>
          </div>
        </div>
        <div class="notification__item">
          <div class="notification__item-top">
            <div class="notification__item-title">Invite from Oiltanking GmbH </div>
            <div class="notification__item-date"> 1 minute ago</div>
          </div>
          <div class="notification__item-bottom">
            <div class="notification__item-set"> 
            </div>
            <div class="notification__item-btns">
              <button class="notification__item-btn danger__btn">Decline</button>
              <button class="notification__item-btn primary__btn">Join</button>
            </div>
          </div>
        </div>
        <div class="notification__item">
          <div class="notification__item-top">
            <div class="notification__item-title">UERs issued </div>
            <div class="notification__item-date"> 1 minute ago</div>
          </div>
          <div class="notification__item-textContent">
            Be advised that 10 000 UERs your organisation has verified for"Gas flaring project" in 2019 have been issued and transferred accordingto your instructions.
          </div>
          <div class="notification__item-bottom">
            <div class="notification__item-set"> 
            </div>
            <div class="notification__item-btns">
              <button class="notification__item-btn primary__btn">Acknowledge</button>
            </div>
          </div>
        </div>
      </div>
      <button class="headerModal-close modal-exit"><img src="images/exit-btn.svg" alt="x"></button>
    </div>
  </div>



  <script src="js/main.js"></script>
</body>

</html>