<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap" rel="stylesheet">
  <title>Document</title>
  <link rel="stylesheet" href="../global-styles.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  <div class="container">
    <button data-modal="modal-one" class="primary__btn">Open Modal</button>
  </div>

  <div class="modal" id="modal-one">
    <div class="modal-bg modal-exit"></div>
    <div class="modal-container">
      <h2 class="modal__title">Terms and Conditions</h2>
      <div class="modal__text">
        <p>Essentially, a Terms and Conditions agreement is a contract between your business and the user of your website
        or app - whether they are an individual or a business. You may see Terms and Conditions agreements referred to
        as Terms of Service (ToS) or Terms of Use (ToU). There's no practical difference between these terms and
        companies use them interchangeably.</p>

        <p>Having a Terms and Conditions agreement is not a legal requirement, but having one is important as they protect
        your business and create a set of rules that anyone using your app or website must agree to.</p>

        <p>Without a Terms and Conditions agreement your business and customers are lacking clearly defined rights,
        responsibilities and duties. This could lead to costly disagreements. For example, businesses lacking a payment
        clause in their Terms and Conditions agreements may receive late payments which affects the business's cash flow
        and leads to money and time spent on debt collectors.</p>

        <p>In addition, whilst not required by law, Terms and Conditions are a good place to include any</p>
        <p>Essentially, a Terms and Conditions agreement is a contract between your business and the user of your website
        or app - whether they are an individual or a business. You may see Terms and Conditions agreements referred to
        as Terms of Service (ToS) or Terms of Use (ToU). There's no practical difference between these terms and
        companies use them interchangeably.</p>

        <p>Having a Terms and Conditions agreement is not a legal requirement, but having one is important as they protect
        your business and create a set of rules that anyone using your app or website must agree to.</p>

        <p>Without a Terms and Conditions agreement your business and customers are lacking clearly defined rights,
        responsibilities and duties. This could lead to costly disagreements. For example, businesses lacking a payment
        clause in their Terms and Conditions agreements may receive late payments which affects the business's cash flow
        and leads to money and time spent on debt collectors.</p>

        <p>In addition, whilst not required by law, Terms and Conditions are a good place to include any</p>
        <p>Essentially, a Terms and Conditions agreement is a contract between your business and the user of your website
        or app - whether they are an individual or a business. You may see Terms and Conditions agreements referred to
        as Terms of Service (ToS) or Terms of Use (ToU). There's no practical difference between these terms and
        companies use them interchangeably.</p>

        <p>Having a Terms and Conditions agreement is not a legal requirement, but having one is important as they protect
        your business and create a set of rules that anyone using your app or website must agree to.</p>

        <p>Without a Terms and Conditions agreement your business and customers are lacking clearly defined rights,
        responsibilities and duties. This could lead to costly disagreements. For example, businesses lacking a payment
        clause in their Terms and Conditions agreements may receive late payments which affects the business's cash flow
        and leads to money and time spent on debt collectors.</p>

        <p>In addition, whilst not required by law, Terms and Conditions are a good place to include any</p>

      </div>
      
      <div class="slot"></div>
      
      <button class="primary__btn">Accept the agreement</button>

      <button class="modal-close modal-exit"><img src="images/exit-btn.svg" alt="x"></button>
    </div>
  </div>


  <script src="js/main.js"></script>
</body>

</html>