<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap" rel="stylesheet">
  <title>Document</title>
  <link rel="stylesheet" href="../global-styles.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  <header class="header">
    <div class="container">
      <div class="header__inner">
        <a href="#" class="header__logo">
          <img src="images/logo.svg" alt="logo">
        </a>
        <div class="header__items">
          <a href="#" class="header__item">
            <img src="images/header-item-1.svg" alt="img">
          </a>
          <a href="#" class="header__item">
            <img src="images/header-item-2.svg" alt="img">
          </a>
        </div>
      </div>
    </div>
  </header>

  <section class="page">
    <div class="container">
      <div class="page__inner">
        <div class="warning">The information provided is being verified. Please await a decision.</div>
        <h2 class="page__title">Personal information</h2>
        <div class="page__items">
          <div class="page__item">
            <div class="page__item-title">Michael J. Fox</div>
          </div>
          <div class="page__line">
            <div class="page__item">
              <div class="page__item-suptitle">Country of citizenship</div>
              <div class="page__item-title">United Kingdom</div>
            </div>
            <div class="page__item">
              <div class="page__item-suptitle">Country of permanent residence</div>
              <div class="page__item-title">United Kingdom</div>
            </div>
          </div>
          <div class="page__item">
            <div class="page__item-suptitle">Postal address</div>
            <div class="page__item-title">Mr A. Payne ARAMARK Ltd. 30 Commercial Road Fratton PORTSMOUTH Hampshire PO1
              1AA UNITED KINGDOM</div>
          </div>
          <div class="page__item">
            <div class="page__item-suptitle">Phone</div>
            <div class="page__item-title">+44 7911 123456</div>
          </div>
          <div class="page__item">
            <div class="page__item-suptitle">Identification document</div>
            <!-- Тут нужно вставить <input type="file"> с стилями которые должен сделать @AndyCrowne -->
          </div>
        </div>
        <h2 class="page__title page__title-2">Organisation</h2>
        <button class="primary__btn page__btn">Add organisation data</button>
      </div>
    </div>
  </section>

  <script src="js/main.js"></script>
</body>

</html>